svg {
    border-style: dashed;
    border-width: 1px;
    width: 100%;
    height: 100%;
  }

  .outline {  
     fill: none;
  }

  .line {
    stroke:black;
    stroke-width:0.05;
  }

  .static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }

  svg.cartesian {
    transform: scaleY(-1)
  }