svg {
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
  }

  .pendulum_parts .circle{
    fill:rgb(5, 5, 5);
    stroke:rgb(248, 248, 248);
    stroke-width: 0.004;
  }

  .pendulum_parts .circle .hinge{
    fill:none;
    stroke:rgb(200, 200, 200);
    stroke-width: 0.004;
  }

  .pendulum_parts .line{
    fill:rgb(5, 5, 5);
    stroke:rgb(5, 5, 5);
    stroke-width: 0.03;
  }


  .outline {  
     fill: none;
  }

  .tracer0 {
    stroke: #F78764;
    stroke-width: 0.01;
  }

  .tracer1 {
    stroke: #079b7e;
    stroke-width: 0.01;
  }

  
  .tracer2 {
    stroke: #8cd4e3;
    stroke-width: 0.01;
  }

  .tracer3 {
    stroke: #f8eb84;
    stroke-width: 0.01;
  }

  .tracer4 {
    stroke: #b02d2a;
    stroke-width: 0.01;
  }

  

  .static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }

  .pause_button {
    cursor: pointer;
  }

  .button_background{
    fill:  white;
  }

  svg.cartesian {
    transform: scaleY(-1)
  }

  svg.cartesian > g text {
    transform: scaleY(-1);
  } 

  .title {
    fill: black;
    font-family: "SUSE", sans-serif;
    font-size: 5vw;
    line-height: 3.3vw;
    }


  .drag_indicator_text {
    fill: rgb(122, 121, 121);
    font-family: "SUSE", sans-serif;
    font-size: 0.01em;
    }

  .pause_text {
      fill: black;
      font-family: "SUSE", sans-serif;
      }

    ::-moz-selection {
      background-color: transparent;
      color: #000;
    }
    
    ::selection {
        background-color: transparent;
        color: #000;
    }