svg {
    width: 100%;
    height: 100%;
  }

  .background {
    fill: white;
  }

  .outline {  
     fill: none;
  }

  .line {
    stroke:black;
    stroke-width:0.05;
  }

  .tracer0 {
    stroke: greenyellow;
    stroke-width: 0.01;
  }

  .tracer1 {
    stroke: blue;
    stroke-width: 0.01;
  }

  .static {
    cursor: not-allowed;
  }
  .draggable {
    cursor: move;
  }

  .pause_button {
    cursor: pointer;
  }

  .button_background{
    fill:  white;
  }

  svg.cartesian {
    transform: scaleY(-1)
  }

  svg.cartesian > g text {
    transform: scaleY(-1);
  } 

  .drag_indicator_text {
    fill: black;
    font-family: "SUSE", sans-serif;
    }

  .pause_text {
      fill: black;
      font-family: "SUSE", sans-serif;
      }

    ::-moz-selection {
      background-color: transparent;
      color: #000;
    }
    
    ::selection {
        background-color: transparent;
        color: #000;
    }